
@mixin phone{

    .contact-us{
        width: 100%;
        .info .info1 .info3 .info4 .info5{
            width: 100%;
                
        }
        .map{
            width: 100%;
        }
    }
}