$color-nav-top: #222222;
$color-navbar:#fc9126;
$color-header:#060f6d;
$color-BOX-nav: #EDDEDE;
$color-footer: #6488C9;
$primary:#fc9126;
$fourth:#fff;
$primary: #222222;
$secondary: #FC9126;
$thirt: #22BBEA;
$font-family: "Open Sans", Arial, sans-serif;
