<<<<<<< HEAD
$primary: #222222;
$secondary: #FC9126;
$thirt: #22BBEA;
$fourth: #fff
=======
$color-nav-top: #222222;
$color-navbar:#fc9126;
$color-header:#060f6d;
$color-BOX-nav: #EDDEDE;
>>>>>>> mesa
